.products-category-name {
    background-color: #f0e68c;
    transition: background-color 0.3s;
    color: #333;
    text-decoration: none;
}

.products-category-name:hover {
    background-color: #e6b800;
    color: #fff;
}

.products-dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #fff;
    padding: 10px;
    flex-direction: column;
    min-width: 500px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.products-dropdown:hover .products-dropdown-content {
    display: block;
}

.sub-category-link {
    color: #B0B0B0;
    text-decoration: none;
    transition: color 0.3s;
}

.sub-category-link:hover {
    color: #A0A0A0;
    text-decoration: underline;
}

.products-subcategory-name {
    color: #f0e68c;
    text-decoration: none;
    transition: color 0.3s;
}

.products-subcategory-name:hover {
    color: #e6b800;
}

.card {
    border: 1px solid #f0e68c;
    transition: transform 0.3s;
    max-width: 300px; /* Make the card smaller */
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #e6b800;
}

.card-text {
    color: #333;
}

.btn-warning {
    background-color: #f0e68c;
    border-color: #e6b800;
    color: #333;
    display: none;
}

.card:hover .btn-warning {
    display: block;
}

.btn-warning:hover {
    background-color: #e6b800;
    border-color: #d4a017;
    color: #fff;
}

.pagination .page-link {
    color: #e6b800;
}

.pagination .page-item.active .page-link {
    background-color: #e6b800;
    border-color: #e6b800;
    color: #fff;
}

.pagination .page-item.disabled .page-link {
    color: #ccc;
}
