body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.site-header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navigation a {
    text-decoration: none;
    color: #ffc107;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #fff;
}

.auth-buttons button {
    background-color: #ffc107;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
    background-color: #ff8f00;
}

.product-card {
    background-color: white;
    border: 1px solid #f0e68c; /* желтый цвет */
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
  }
  
  .product-card:hover {
    transform: scale(1.05); /* увеличение карточки при наведении */
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-name {
    font-size: 18px;
    color: black;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
  }
  
  .add-to-cart {
    background-color: #f0e68c; /* желтая кнопка */
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .product-category {
    font-size: 14px;
    color: #777; /* серый цвет для категории */
    margin-bottom: 10px;
  }
  
  .add-to-cart:hover {
    background-color: #d3c24c; /* немного темнее желтый при наведении */
  }
  
  /* Для того, чтобы карточки стояли в ряд по 3 */
  .product-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
