{% extends 'header.html' %}
{% block content %}
<!-- Slider Area -->
<section class="hero-slider">
	<!-- Single Slider -->
	<div class="single-slider">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-9 offset-lg-3 col-12">
					<div class="text-inner">
						<div class="row">
							<div class="col-lg-7 col-12">
								<div class="hero-text">
									<h1><span>Скидки до 50%</span>Уличные светильники</h1>
									<p>Fumagalli из Италии <br> лучше картинки быть не могло </p>
									<div class="button">
										<a href="/products" class="btn">Перейти в каталог!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->

<!-- Start Small Banner  -->
<section class="small-banner section">
	<div class="container-fluid">
		<div class="row">
			<!-- Single Banner  -->
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-banner">
					<img src="/static/images/park_lights.jpg" alt="#">
					<div class="content">
						<p>Популярно</p>
						<h3>Парковые фонари <br> FUMAGALLI Серия GLOBE 300</h3>
						<a href="/products/{{ park_lights_idx }}">Перейти в каталог</a>
					</div>
				</div>
			</div>
			<!-- /End Single Banner  -->
			<!-- Single Banner  -->
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-banner">
					<img src="/static/images/smth.JPG" alt="#">
					<div class="content">
						<p></p>
						<h3>Модель LUCIA/GABRI 2L <br> черный/опал </h3>
						<a href="/products">Перейти в каталог</a>
					</div>
				</div>
			</div>
			<!-- /End Single Banner  -->
			<!-- Single Banner  -->
			<div class="col-lg-4 col-12">
				<div class="single-banner tab-height">
					<img src="/static/images/lights_ag.jpg" alt="#">
					<div class="content">
						<p>Скидки</p>
						<h3>Парковые фонари</h3>
						<a href="/products">Перейти в каталог</a>
					</div>
				</div>
			</div>
			<!-- /End Single Banner  -->
		</div>
	</div>
</section>
<!-- End Small Banner -->


<!-- Start Most Popular -->
<div class="product-area most-popular section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2>Популярно сейчас</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="owl-carousel popular-slider">
					{% for lamp in lamps %}

					<!-- Start Single Product -->
					<div class="single-product">
						<div class="product-img">
							<a href="/lamp/{{ lamp.id }}">
								{% if lamp.main_image %}
									<img class="default-img" src="/static/img/{{ lamp.main_image }}" alt="#">
									<img class="hover-img" src="/static/img/{{ lamp.photo1 }}" alt="#">
								{% else %}
								<img class="default-img" src="/static/img/{{ lamp.photo1 }}" alt="#">
									<img class="hover-img" src="/static/img/{{ lamp.photo2 }}" alt="#">
								{% endif %}
								{% if lamp.id % 228 == 16 %}
								<span class="out-of-stock">Популярно</span>
								{% endif %}
							</a>
							<div class="button-head">
								<div class="product-action-2">
									<a title="Add to cart" href="/add_to_cart/{{ lamp.id }}">Добавить в корзину</a>
								</div>
							</div>
						</div>
						<div class="product-content">
							<h3><a href="/lamp/{{ lamp.id }}">{{ lamp.name }}</a></h3>
							<div class="product-price">
								{% if lamp.id % 228 == 16 %}
									<span class="old">{{ lamp.price + 1000 }}</span>
								{% endif %}
								<span>{{ lamp.price }}</span>
							</div>
						</div>
					</div>
					<!-- End Single Product -->
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Most Popular Area -->

<section class="section free-version-banner">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-8 offset-md-2 col-xs-12">
				<div class="section-title mb-60">
					<span class="text-white wow fadeInDown" data-wow-delay=".2s"
						style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">"МастерСвета"</span>
					<h2 class="text-white wow " data-wow-delay=".4s"
						style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Официальный представитель Fumagalli</h2>
					<p class="text-white wow fadeInUp" data-wow-delay=".6s"
						style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Если Вы или Ваша компания заинтересованы в поставках уличного
						и ландшафтного освещения ФУМАГАЛЛИ, ведете проекты по светотехнике, занимаетесь
						 монтажом или обслуживанием садовых и парковых фонарей
						  - компания "МастерСвета" - официальный представитель FUMAGALLI  будет рада предложить Вам партнерство. </p>

					<div class="button">
						<a href="/contact" target="_blank"
							rel="nofollow" class="btn wow fadeInUp" data-wow-delay=".8s">Связаться с нами</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}