{% extends "base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>

<section class="index-hero">
  <div class="index-container">
    <h1>Добро пожаловать в интернет-магазин уличных светильников</h1>
    <p>Осветите свой мир с нашими современными и надежными решениями.</p>
    <a href="{{ url_for('products') }}" class="index-btn-primary"
      >Купить сейчас</a
    >
  </div>
</section>

<section class="index-popular-products">
  <div class="index-container">
    <h2>Популярные товары</h2>
    <div class="index-products-grid">

      {% if lamps %}
        {% for lamp in lamps %}

          <div class="product-card" data-product-id="{{ lamp.id }}" onclick="redirectToProductPage({{ lamp.id }})">
            <img src="static/img/{{ lamp.main_image }}" alt="Product Image" class="product-image">
            <h3 class="product-name">{{ lamp.name }}</h3>
            <p class="product-category">Категория: {{ lamp.subsubcategory }}</p>
            <p class="product-price">Цена: {{ lamp.price }} ₽</p>
            <button class="add-to-cart" onclick="addToCart(event, {{ lamp.id }})">Добавить в корзину</button>
          </div>
        
        {% endfor %}
      {% else %}
        <p>Пока тут пусто...</p>
      {% endif %}
      
    </div>
  </div>
</section>

<section class="index-contact-info">
  <div class="index-container">
    <h2>Связаться с нами</h2>
    <p>Есть вопросы? Напишите нам или позвоните!</p>
    <a href="{{ url_for('contact') }}" class="index-btn-primary">Связаться</a>
  </div>
</section>
{% endblock %}
