{% extends "header.html" %}

{% block content %}

<!-- Bootstrap CSS -->
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

<!-- Bootstrap JS and dependencies -->

<style>
  body {
    margin: 0 auto;
    font-family: sans-serif;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  .productImg {
    float: left;
    width: 50%;
  }

  .productImg img {
    height: 500px;
    width: 500px;
  }

  .productDetails {
    background-color: #f8f8f8;
    float: left;
    width: 50%;
    border-radius: 6px;
  }

  div.proLabel {
    padding: 20px;
    font-weight: bold;
    background-color: #f8f8f8;
    font-size: 1.5rem;
  }

  .wrapper {
    padding: 20px;
    overflow: hidden;
  }

  .left,
  .right {
    width: 50%;
    float: left;
  }

  @media (max-width: 600px) {

    .productImg,
    .productDetails {
      width: 100%;
    }
  }

  .qnty {
    padding: 2rem;
    font-size: 1.5rem;
  }

  .spanBtn {
    background-color: #e6e6e6;
    padding: 20px;
    margin: -5px;
    cursor: pointer;
  }

  .spanBtn:hover {
    background-color: #d3d3d3;
    padding: 20px;
    margin: -5px;
    cursor: pointer;
  }

  .spanBtnNo {
    background-color: #fff;
    padding: 20px;
    margin: -5px;
  }

  a {
    text-decoration: none;
  }

  div.body {
    background-color: #f8f8f8;
    padding: 10px;
  }

  .pos {
    width: 24%;
    float: left;
  }

  .posBody {
    padding: 10px;
    margin: 1px;
    text-align: center;
    cursor: pointer;
  }

  .posBody:hover {
    background-color: #d3d3d3;
    padding: 10px;
    margin: 1px;
    text-align: center;
    transition-duration: 2s;
  }

  @media (max-width: 600px) {

    .pos {
      width: 50%;
    }
  }
</style>

<div class="main">

  <!-- This Div for products details with image -->
  <div class="container">
    <div class="wrapper">
      <div class="productImg">
        <!-- Product Image -->
         
        <img src="/static/img/{{ lamp.main_image }}" alt="">

      </div>
      <div class="productDetails">
        <div style="padding: 20px;">
          <!-- Product Title -->
          <div class="proLabel">
            <span>{{ lamp.name }}</span>
          </div>
          <div class="wrapper">
            <div class="left">
              <span style="color: #1a9cb7; font-size: .8rem;"><a href="#">{{ lamp.article }}</a></span>
            </div>
            <div class="rgiht">
            </div>
          </div>
          <hr style="opacity: .2;" />
          <div style="padding: 1.5rem;">
            <span style="color: black; font-size: 2rem;">{{ lamp.price }} руб./шт.</span>
          </div>
          <hr style="opacity: .2;" />
          <div style="padding: 10px;">
            <span>Выбрать кол-во можно будет в корзине.</span>
          </div>
          <a href="/add_to_cart/{{ lamp.id }}">
            <div
              style="background-color: orange; padding: 1rem; text-align: center; color: white; margin: 1px; cursor: pointer; border-radius: 5px;">
              <span>Добавить в корзину</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="body">
      <div style="background-color: #fff; padding: 1rem; margin: 1rem;">
        <span style=" font-weight: bold;">Характеристики</span><br />
        <div style="padding: 1rem;">
          {% for spec, value in {
          'Модель': lamp.model,
          'Наличие': lamp.availability,
          'Серия': lamp.series,
          'Стиль': lamp.style,
          'Цвет корпуса': lamp.body_color,
          'Цвет абажура': lamp.shade_color,
          'Материал корпуса': lamp.body_material,
          'Материал абажура': lamp.shade_material,
          'Форма головы': lamp.head_shape,
          'Тип установки': lamp.install_type,
          'Тип крепления': lamp.mount_type,
          'Количество кронштейнов': lamp.bracket_count,
          'Количество ламп': lamp.lamp_count,
          'Тип цоколя': lamp.socket_type,
          'Тип лампы': lamp.lamp_type,
          'Максимальная мощность': lamp.max_power,
          'Напряжение': lamp.voltage,
          'IP защита': lamp.ip_protection,
          'Вес': lamp.weight,
          'Высота': lamp.height,
          'Ширина': lamp.width,
          'Диаметр': lamp.diameter,
          'Длина': lamp.length,
          'Глубина': lamp.depth,
          'Страна': lamp.country,
          'Гарантия': lamp.warranty,
          'Бренд': lamp.brand
          }.items() %}
          {% if value %}

          <span>{{ spec }}: {{ '.' * 30 }} {{ value }}</span><br>

          {% endif %}
          {% endfor %}

        </div>
      </div>


      <div style="background-color: #fff; padding: 1rem; margin: 1rem;">
        <span style=" font-weight: bold;">Детальное описание</span><br />
        <div style="padding: 1rem;">
          <p>{{ lamp.description }}</p>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- ionicon -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


{% endblock %}