{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/lamp.css') }}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h2>Категории</h2>
      <ul class="list-group">
        {% for category in categories %}
        {% if category.name not in subcategories_names %}
        <li class="list-group-item products-dropdown">
          <div class="dropdown-wrapper">
            <a href="/products/{{ category.id }}" class="products-category-name d-block p-2">{{ category.name }}</a>
            <div class="products-dropdown-content">
              {% for subcategory in subcategories %} {% if subcategory.category_id == category.id and subcategory.name
              != category.name %}
              <div class="dropdown-item">
                <a class="products-subcategory-name" href="/products/{{ category.id }}/{{ subcategory.id }}">
                  <h3 class="dropdown-title">{{ subcategory.name }}</h3>
                </a>
                <div class="sub-category-space">
                  {% for sub_subcategory in sub_subcategories %} {% if sub_subcategory.subcategory_id == subcategory.id
                  and sub_subcategory.name != subcategory.name %}
                  <a href="/products/{{ category.id }}/{{ subcategory.id }}/{{ sub_subcategory.id }}"
                    class="sub-category-link d-block">{{ sub_subcategory.name }}</a>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
        </li>
        {% else %}
        <li class="list-group-item">
          <div class="dropdown-wrapper">
            <a href="/products/{{ category.id }}" class="products-category-name d-block p-2">{{ category.name }}</a>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9">
      <div class="lamp-container">
        <div class="lamp-details row">
          <div class="col-md-4 offset-md-9">
            <div class="carousel-indicators-wrapper">
              <ol class="carousel-indicators">
                <li data-target="#lampCarousel" data-slide-to="0" class="active">
                  <img src="/static/img/{{ lamp.main_image }}" alt="{{ lamp.name }}" class="img-fluid">
                </li>
                {% for index, image in enumerate(extra_images) %}
                <li data-target="#lampCarousel" data-slide-to="{{ index + 1 }}">
                  <img src="/static/img/{{ image }}" alt="{{ lamp.name }}" class="img-fluid">
                </li>
                {% endfor %}
              </ol>
            </div>
          </div>
          <div class="lamp-gallery col-md-4">
            <div id="lampCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/img/{{ lamp.main_image }}" alt="{{ lamp.name }}"
                    class="d-block w-100 lamp-main-image">
                </div>
                {% for image in extra_images %}
                <div class="carousel-item">
                  <img src="/static/img/{{ image }}" alt="{{ lamp.name }}" class="d-block w-100 lamp-main-image">
                </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#lampCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#lampCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <br><br>
          
          <div class="col-md-4">
            <div class="lamp-header">
              <h1 class="lamp-name">{{ lamp.name }}</h1>
              <p class="lamp-article">Артикул: {{ lamp.article }}</p>
              <div class="lamp-price">
                <span>Цена: {{ lamp.price }} руб.</span>
                <button class="btn btn-warning add-to-cart-button" onclick="addToCart(event, {{ lamp.id }})">Добавить в
                  корзину</button>
              </div>
            </div>
          </div>
        </div>
        <br><br><br>
        
        <div class="lamp-info col-md-9 d-flex justify-content-center">
          
          <h2 class="text-center">Описание</h2>
          <p class="lamp-description">{% if lamp.description %}{{ lamp.description }}{% else %} Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Necessitatibus accusamus earum iusto quae pariatur exercitationem saepe
            suscipit eveniet, doloribus quisquam corrupti ipsum cumque possimus obcaecati laudantium facere.
            Consectetur, hic sequi. {% endif %}</p>
          <h2 class="text-center">Характеристики</h2>
          <table class="lamp-specs-table table ">
            <thead>
              <tr>
                <th class="text-center">Характеристика</th>
                <th class="text-center">Детали</th>
              </tr>
            </thead>
            <tbody>
              {% for spec, value in {
              'Модель': lamp.model,
              'Артикул': lamp.article,
              'Наличие': lamp.availability,
              'Серия': lamp.series,
              'Стиль': lamp.style,
              'Цвет корпуса': lamp.body_color,
              'Цвет абажура': lamp.shade_color,
              'Материал корпуса': lamp.body_material,
              'Материал абажура': lamp.shade_material,
              'Форма головы': lamp.head_shape,
              'Тип установки': lamp.install_type,
              'Тип крепления': lamp.mount_type,
              'Количество кронштейнов': lamp.bracket_count,
              'Количество ламп': lamp.lamp_count,
              'Тип цоколя': lamp.socket_type,
              'Тип лампы': lamp.lamp_type,
              'Максимальная мощность': lamp.max_power,
              'Напряжение': lamp.voltage,
              'IP защита': lamp.ip_protection,
              'Вес': lamp.weight,
              'Высота': lamp.height,
              'Ширина': lamp.width,
              'Диаметр': lamp.diameter,
              'Длина': lamp.length,
              'Глубина': lamp.depth,
              'Страна': lamp.country,
              'Гарантия': lamp.warranty,
              'Бренд': lamp.brand
              }.items() %}
              {% if value %}
              <tr>
                <td class="text-center">{{ spec }}</td>
                <td class="text-center">{{ value }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="{{ url_for('static', filename='js/products.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}