{% extends 'header.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="border p-4" style="width: 100%; max-width: 400px;">
        <form action="/register" method="POST">
            <!-- Username input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="" id="form2Example1" class="form-control" name="username" />
                <label class="form-label" for="form2Example1">Ваш никнейм (может быть любой)</label>
            </div>

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" name="email" />
                <label class="form-label" for="form2Example1">Эл. адрес почты</label>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" name="password" />
                <label class="form-label" for="form2Example2">Пароль</label>
            </div>

            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Зарегистрироваться</button>
        </form>
    </div>
</div>

{% endblock %}